asgiref==3.5.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.4
django-jwt-extended==0.1.1
djangorestframework==3.13.1
idna==3.3
mysqlclient==2.1.0
PyJWT==2.4.0
python-dotenv==0.19.2
pytz==2021.3
requests==2.27.1
sejong-univ-auth==0.3.4
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.9
